/*
.test {
position: fixed;
left: 50%;
height: 100%;
}

div {
border: 1px solid red;
}
*/

/* Universal Sytles */
html {
  font-family: "Raleway", Ariel, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

header, footer {
  max-width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Generic Classes used for stylization*/
.button {
  background-color: #4A4A4A;
  color: white;
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid #393939;
}

.center {
  text-align: center;
  padding-top: 2rem;
}

.highlight {
  background-color: #d8d8d8;
}

.read_more {
  font-weight: 700;
  color: #83AAE6
}

/* Image stylization */
.image_container {
  overflow: hidden;
}

.image_container img, .image_container video {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Main content layout - 40%/60% Layout */
.content_container {
  display: flex;
  padding: 2rem 1.5rem;
}

.left_content {
  display: block;
  width: 60%;
  padding-right: 1.5rem;
}

.right_content {
  display: block;
  width: 40%;
}

.content_container h1 {
  padding-top: 0rem;
}

.content_container h2 {
  padding-top: 2rem;
}

.content_container h3 {
  padding-top: 1.75rem;
}

.content_container h6 {
  padding-top: 1.5rem;
}


/* Article Layout */
.article {
  display: flex;
}

.article_img {
  display: block;
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.article_text {
  display: block;
  width: 65%;
  margin: auto 0;
}

/* Grid Layout */
.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  padding: 2rem 4.5rem;
}

.grid_item {
  display: inline-block;
  background-color: white;
}

.grid_item_text {
  padding: 1rem 1rem 1.5rem 1rem;
}

/* Header */
header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .logo_text {
  display: flex;
  font-family: "Work Sans", Ariel, sans-serif;
  text-transform: uppercase;
}

/* Hide Mobile Header when Desktop Size */
.mobile {
  display: none;
}

/* Banner specific stylization*/
.banner .right_content {
  margin: auto 0;
  padding-left: 1.5rem;
}

.banner h3 {
  padding-bottom: 1rem;
}

/* Information and Course information specific stylization */
.information h5,  {
  padding-top: 1rem;
}

.article_text h5, .grid_item h5 {
  padding-top: 0.5rem;
}

/* Footer */
footer {
  border: 1px solid #d8d8d8;
  font-weight: 200;
}

/* Display Mobile friendly header on small devices */
@media only screen and (max-width: 625px) {

  /* Header */
  /* Hide destop elements */
  .desktop {
    display: none;
  }

  /* Modile friendly stylization */
  .mobile {
    display: block;
    width: 100%;
    padding: 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  /* Banner */
  .content_container {
    flex-direction: column;
    padding: 0;
  }

  .left_content {
    width: 100%;
    padding: 0;
  }

  .right_content {
    max-width: fit-content;
    width: 100%;
    margin: 0;
  }

  .banner .right_content {
    padding: 2rem 1rem;
  }

  .banner h3 {
    padding: 2rem 0 1.5rem;
  }

  .article {
    flex-direction: column;
    width: 100%;
    padding-bottom: 4rem;
  }

  .article_img {
    width: 100%;
    padding: 0;
  }

  .article_text {
    padding: 2rem 1rem 0 1rem;
    max-width: fit-content;
    width: 100%;
  }

  .information .right_content {
    padding: 1rem 1rem 2rem 1rem;
  }

  .information .highlight {
    background-color: inherit;
  }
  .article:last-child {
    padding-bottom: 0;
  }

  .course_info {
    padding: 0 1rem 2rem 1rem;
    width: auto;
  }

  .course_info h3:first-child {
    margin-top:1rem;
  }

  .course_info h3 {
    margin-top: 0.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .thesis {
    padding: 1rem 0 1.5rem;
  }

  footer {
    padding: 1rem;
  }

  footer span {
    font-size: .75rem;
  }

}
