.test {
  position: fixed;
  left: 50%;
  height: 100%;
}

div {
  border: 1px solid red;
}

/* Universal Sytles */
html {
  font-family: "Raleway", Ariel, sans-serif;
  font-size: 16px;
}

.image_container {
  overflow: hidden;
}

.image_container img {
  display: block;
  height: auto;
  max-width: 100%
}

/* Header */
header {
  width: 100%;
  height: 4rem;
}

header .desktop {
  padding: 1rem 1.5rem;
}
header .content {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .logo_text {
  display: flex;
  font-family: "Work Sans", Ariel, sans-serif;
  text-transform: uppercase;
}

header .logo_text .first {
  font-weight: 700;
}

header .logo_text .last {
  font-weight: 200;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav li {
  padding-left: 1rem;
}

/* Hide Mobile Header when Desktop Size */
header .mobile {
  display: none;
}

/* Dipslay Mobile friendly header on small devices */
@media only screen and (max-width: 625px) {

  /* Hide the desktop header */
  header .desktop {
    display: none;
  }

  /* Modile friendly stylization */

  header .mobile {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
  }
}

/* Banner */
.banner {
  display: flex;
  background-color: #d8d8d8;
  padding: 2rem 1.5rem;
}

.banner .image_container {
  display: inline-block;
  width: 60%;
}

.banner .content {
  margin: auto 1.5rem;
  display: inline-block;
  width: 40%;
}

.banner h1 {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 1rem;
}

.banner h3 {
  font-size: 1.5rem;
  padding: 1rem;
}

.button {
  background-color: #4A4A4A;
  color: white;
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid #393939;

}

@media only screen and (max-width: 780px) {
  .banner {
    flex-direction: column;
    padding: 0;
  }

  .banner .image_container {
    display: block;
    width: 100%
  }

  .banner .content {
    display: block;
    width: auto;
    margin: 0;
    padding: 2rem 1rem;
  }

  .banner h1 {
    padding: 0 0 2rem 0;
  }

  .banner h3 {
    padding: 0 0 1.5rem 0;
  }

}




















/* The End */
