/* Universal Sytles */
html {
  font-family: "Raleway", Ariel, sans-serif;
  font-size: 16px;
}

div {
  border: 1px solid red;
}

/* Header */
header {
  width: 100%;
  height: 4rem;
}

header .content {
 display: flex;
 padding: 1rem 1.5rem;
 align-items: center;
 justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .logo_text {
display: flex;
font-family: "Work Sans", Ariel, sans-serif;
text-transform: uppercase;
}

header .logo_text .first {
  font-weight: 700;
}

header .logo_text .last {
  font-weight: 200;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav li {
  padding-left: 1rem;
}

/* Hide Mobile Header when Desktop Size */
header .mobile {
  display: none;
}

/* Dipslay Mobile friendly header on small devices */
@media only screen and (max-width: 760px) {

  /* Hide the desktop header */
  header .desktop {
    display: none;
  }

  /* Modile friendly stylization */
  header .mobile {
    display: block;
    width: 100%;
    height: 4rem;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }
